name: EnvironmentalInformation
description: Abstract class (with concrete child classes of Observation and Forecast) that groups phenomenon and/or environmental
  value sets.
attributes:
- name: created
  type: DateTime
  description: The timestamp of when the forecast was created
ancestors:
- IdentifiedObject
descendents:
- Forecast
- Observation
associations:
- source: EnvironmentalInformation
  target: EnvironmentalDataProvider
  sourceCardinality: 0..*
  targetCardinality: 0..1
  sourceName: EnvironmentalInformation
  sourceDescription: Environmental information provided by this environmental data provider.
  targetName: EnvironmentalDataProvider
  targetDescription: Environmental data provider supplying this environmental information.
- source: EnvironmentalInformation
  target: EnvironmentalDiscrete
  sourceCardinality: 0..1
  targetCardinality: 0..*
  sourceName: EnvironmentalInformation
  sourceDescription: Observation or forecast with which this environmental discrete (integer) is associated.
  targetName: EnvironmentalDiscrete
  targetDescription: Environmental discrete (integer) associated with this observation or forecast.
- source: EnvironmentalInformation
  target: EnvironmentalEvent
  sourceCardinality: 0..*
  targetCardinality: 0..*
  sourceName: EnvironmentalInformation
  sourceDescription: Forecast or observation related to this environmental event.
  targetName: EnvironmentalEvent
  targetDescription: Environmental event to which this forecast or observation relates.
- source: EnvironmentalInformation
  target: EnvironmentalAnalog
  sourceCardinality: 0..1
  targetCardinality: 0..*
  sourceName: EnvironmentalInformation
  sourceDescription: Observation or forecast with which this environmental analog measurement is associated.
  targetName: EnvironmentalAnalog
  targetDescription: Environmental analog associated with this observation or forecast.
- source: EnvironmentalInformation
  target: EnvironmentalPhenomenon
  sourceCardinality: 0..1
  targetCardinality: 0..*
  sourceName: EnvironmentalInformation
  sourceDescription: The forecast or observation of which this phenomenon description is a part.
  targetName: EnvironmentalPhenomenon
- source: EnvironmentalInformation
  target: EnvironmentalStringMeasurement
  sourceCardinality: 0..1
  targetCardinality: 0..*
  sourceName: EnvironmentalInformation
  sourceDescription: Observation or forecast with which this environmental string is associated.
  targetName: EnvironmentalStringMeasurement
  targetDescription: Environmental string measurement associated with this forecast or observation.