name: MeasurementValueSource
description: MeasurementValueSource describes the alternative sources updating a MeasurementValue. User conventions for how
  to use the MeasurementValueSource attributes are defined in IEC 61970-301.
ancestors:
- IdentifiedObject
descendents:
- IOPointSource
associations:
- source: MeasurementValueSource
  target: MeasurementValue
  sourceCardinality: "1"
  sourceName: MeasurementValueSource
  sourceDescription: A reference to the type of source that updates the MeasurementValue, e.g. SCADA, CCLink, manual, etc.
    User conventions for the names of sources are contained in the introduction to IEC 61970-301.
  targetCardinality: 0..*
  targetName: MeasurementValues
  targetDescription: The MeasurementValues updated by the source.