name: Release snapshot

on:
  push:
    branches:
      - main
      - LTS/*
      - hotfix/*
  workflow_dispatch:

jobs:
  licence-check-and-protolock-update:
    runs-on: ubuntu-latest
    container: zepben/pipeline-basic
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.CI_GITHUB_TOKEN }}

      - name: Work around git permission issue
        run: |
          dname=$(echo ${{github.repository}} | cut -d'/' -f2)
          git config --global --add safe.directory /__w/$dname/$dname
        shell: sh

      - run: |
          apk add --no-cache tar

      - name: Cache licence-check
        uses: actions/cache@v4
        with:
          path: /lc
          key: lcc

      - name: Cache protolock
        uses: actions/cache@v4
        with:
          path: /protolock
          key: pbc

      - name: Check licence
        uses: zepben/licence-check-action@main
        with:
          LC_URL: ${{ secrets.LC_URL }}
          PATH: proto

      - name: Update protolock
        uses: zepben/protolock-action@main
        with:
          PATH: proto/zepben
          COMMIT: true

  java-deploy:
    needs: licence-check-and-protolock-update
    container: zepben/pipeline-java-ewb
    runs-on: ubuntu-latest
    env:
      ZEPBEN_GPG_KEY: ${{ secrets.ZEPBEN_GPG_KEY_B64 }}
      OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
      GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
      GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}
    steps:
      - uses: actions/checkout@v4

      - name: Cache maven deps
        uses: actions/cache@v4
        with:
          path: /maven
          key: maven

      - name: Java deploy to Central
        uses: zepben/maven-deploy-central-action@main
        with:
          ZEPBEN_GPG_KEY: ${{ secrets.ZEPBEN_GPG_KEY_B64 }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
          GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}
          POM_PATH: java/pom.xml

  python-deploy:
    needs: licence-check-and-protolock-update
    container: python:3.9
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install git
        run: |
          apt update && apt install -y git

      - name: Work around git permission issue
        run: |
          dname=$(echo ${{github.repository}} | cut -d'/' -f2)
          git config --global --add safe.directory /__w/$dname/$dname
        shell: sh


      - name: Cache python deps
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip

      - name: Create .pypirc
        env:
          PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          echo "[pypi]" > ~/.pypirc
          echo "username = __token__" >> ~/.pypirc
          echo "password = ${PYPI_API_TOKEN}" >> ~/.pypirc
          echo "\n" >> ~/.pypirc

      - name: Deploy Python
        run: |
          echo "Show pypirc"
          cat ~/.pypirc
          cd python
          pip install 'twine==5.1.1'
          pip install -r requirements.txt
          python build.py --fullclean
          python build.py --package
          twine upload --verbose --non-interactive --config-file ~/.pypirc dist/* --skip-existing
        shell: bash

  update-snapshot-version:
    needs: [python-deploy, java-deploy]
    container: zepben/pipeline-basic
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
      NEXUS_MAVEN_REPO: ${{ secrets.NEXUS_MAVEN_REPO }}
      NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
      NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      NEXUS_MAVEN_SNAPSHOT: ${{ secrets.NEXUS_MAVEN_SNAPSHOT }}
      NEXUS_MAVEN_RELEASE: ${{ secrets.NEXUS_MAVEN_RELEASE }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.CI_GITHUB_TOKEN }}

      - name: Work around git permission issue
        run: |
          dname=$(echo ${{github.repository}} | cut -d'/' -f2)
          git config --global --add safe.directory /__w/$dname/$dname
        shell: sh

      - name: Update snapshot version
        run: |
          git pull origin $GITHUB_REF
          source /scripts/common.sh
          cd python
          /scripts/update-version.sh --python --snapshot --no-commit pyproject.toml
          cd ../java
          /scripts/update-version.sh --java --snapshot --maven --no-commit pom.xml
          commit_update_version ${GITHUB_REF/refs\/heads\//}
        shell: bash
